.modal,
.modal-overlay {
  display: flex;
  position: fixed;
  inset: 0;
  overflow: hidden;
}

.modal-overlay,
.modal-content {
  z-index: inherit;
}

.modal-content {
  position: relative;
  margin: auto;
  overflow: auto;
}
