.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.content {
  position: relative;
  padding: 5rem;
  background-color: white;
  width: 20rem;
  margin: auto;
  top: calc(40%);
}
