.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.content {
  position: relative;
  top: 40%;
  max-height: calc(40% - 10rem);
  padding: 5rem;
  background-color: white;
  width: 20rem;
  margin: auto;
  overflow: auto;
}

[aria-hidden="true"] {
  overflow: hidden;
}
