.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.content {
  position: relative;
  margin: auto;
  overflow: auto;
  max-height: 60vh; /* Setting a max-height of 100vh or less is recommended*/
  /* Set the visual style for modal*/
  background-color: white;
  width: 20rem;
  padding: 5rem;
}
